/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
.active{
  color:red;
}

.class-inactif{
  background-color: red;
}

.class-actif{
  background-color: green;
}

button{
  margin: 0.5rem;
}
